{% extends "InfiniteImportBundle::layout.html.twig" %}

{% block infinite_import_content %}
{% if data.result %}
{# We had a failure #}
<div class="alert alert-error">
<h1>ERROR</h1>
<p>
    We could not do the initial processing of the file you uploaded. There were errors
    while it was being uploaded. The import cannot proceed. Please fix the errors below
    before continuing.
</p>
{% for error in data.result.conversionResult.errors %}
<p>Error: {{ error.error }}</p>
{% endfor %}
</div>

<hr />
{% endif %}

<h1>Upload new file for importing</h1>

{{ form_start(data.form) }}
{{ form_end(data.form) }}

{% endblock infinite_import_content %}
